{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'platform_app/css/create-task.css' %}">
{% endblock %}
{% block title %}To-Do-List{% endblock%}
{% block body%}
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="{% url 'task_create' %}">Criar Tarefa</a></li>
            <li><a href="{% url 'task_list' %}">Minhas Tarefas</a></li>
            <li><a href="{% url 'logout' %}">Sair</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="container-cards">
            <h1>To-Do-List</h1>
            <form action="{% url 'task_create' %}" method="post"> {% csrf_token %}
                <label for="title">Titulo</label>
                <input class="input-text" type="text" id="title" name="title" placeholder="Digite o título da tarefa" required>
                <label for="description">Descrição</label>
                <input class="input-text" type="text" id="description" name="description" placeholder="Digite a descrição da tarefa" required>
                <input type="submit" value="Adicionar tarefa" id="addTask">
            </form>
        </div>
    </div>
{% endblock %}