{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="{% static 'platform_app/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f8f9fa;
        }

        .task-card {
            border-left: 6px solid transparent;
            transition: transform 0.2s ease;
        }

        .task-card:hover {
            transform: scale(1.02);
        }

        .priority-baixa {
            border-color: #198754;
        }

        .priority {
            border-color: blue;
        }

        .priority-media {
            border-color: #ffc107;
        }

        .priority-alta {
            border-color: #dc3545;
        }

        .status-concluida {
            opacity: 0.6;
            text-decoration: line-through;
        }

        .status-atrasada {
            background-color: #ffe5e5;
        }
    </style>
</head>

<body>
    {% if user.is_superuser == 1 or user.is_staff == 1%}
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
        <div class="container">
            <a class="navbar-brand fw-bold text-primary" href="{% url 'task_list' %}">To-Do List</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <p class="nav-link text-primary fw-semibold">Olá {{usuario.nome}}, seja bem-vindo</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary fw-semibold" href="{% url 'task_list' %}">📋 Listar Tarefas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary fw-semibold" href="{% url 'perfil' %}">👤 Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary fw-semibold" href="{% url 'gerenciamento' %}">⚙️
                            Gerenciamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary fw-semibold" href="{% url 'usuario_dashboard' %}">📊
                            Dashboard</a>
                    </li>
                    <li class="nav-item" style="margin-left: 10px; margin-top: 3px;">
                        <a href="{% url 'logout' %}" class="btn btn-outline-danger">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
        <div class="container">
            <a class="navbar-brand fw-bold text-primary" href="{% url 'task_list' %}">To-Do List</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <p class="nav-link text-primary fw-semibold">Olá {{usuario.nome}}, seja bem-vindo</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary fw-semibold" href="{% url 'task_list' %}">📋 Listar Tarefas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary fw-semibold" href="{% url 'perfil' %}">👤 Perfil</a>
                    </li>
                    <li class="nav-item" style="margin-left: 10px; margin-top: 3px;">
                        <a href="{% url 'logout' %}" class="btn btn-outline-danger">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
    <div class="container py-4">
        <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#taskModal"
            onclick="openCreateModal()">+ Nova Tarefa</button>
        <div class="row g-3">

            <div class="col-md-4">
                <div class="card task-card priority-media status-atrasada">
                    <div class="card-body">
                        <h5 class="card-title">Apresentação do Projeto</h5>
                        <p class="card-text">Finalizar slides e enviar para equipe.</p>
                        <span class="badge bg-danger">Alta</span>
                        <span class="badge bg-primary">Trabalho</span>
                        <p class="mt-2"><strong>Status:</strong> Pendente</p>
                        <p><strong>Prazo:</strong> 10/08/2025</p>
                        <button class="btn btn-sm btn-warning" onclick="openEditModal()">Editar</button>
                        <button class="btn btn-sm btn-danger" onclick="deleteTask(this)">Excluir</button>
                    </div>
                </div>
            </div>
            {% for task in tasks %}
            <div class="col-md-4">
                {% if task.priority == "Alta" %}
                <div class="card task-card priority-alta {{ task.status_css_class }}" id="task-{{ task.id }}">
                    {% elif task.priority == "Média" %}
                    <div class="card task-card priority-media {{ task.status_css_class }}" id="task-{{ task.id }}">
                        {% elif task.priority == "Baixa" %}
                        <div class="card task-card priority-baixa {{ task.status_css_class }}" id="task-{{ task.id }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{task.title}}</h5>
                                <p class="card-text">{{task.description}}</p>
                                {% if task.priority == "Alta" %}
                                <span class="badge bg-danger">{{task.priority}}</span>
                                {% elif task.priority == "Média" %}
                                <span class="badge bg-warning text-dark">{{task.priority}}</span>
                                {% elif task.priority == "Baixa" %}
                                <span class="badge bg-success">{{task.priority}}</span>
                                {% endif %}
                                {% if task.category == "T" %}
                                <span class="badge bg-primary">{{task.get_category_display}}</span>
                                {% elif task.category == "E" %}
                                <span class="badge bg-info text-dark">{{task.get_category_display}}</span>
                                {% elif task.category == "P" %}
                                <span class="badge bg-secondary">{{task.get_category_display}}</span>
                                {% endif %}
                                <p class="mt-2"><strong>Status:</strong> {{task.get_status_display}}</p>
                                <p><strong>Prazo:</strong> {{ task.deadline|date:"d/m/Y" }}</p>
                                <button class="btn btn-sm btn-warning"
                                    onclick="openEditModal('{{task.id}}')">Editar</button>
                                {% with id=task.id %}
                                <button class="btn btn-sm btn-danger" data-url="{% url 'task_delete' id %}"
                                    onclick="window.location.href = this.dataset.url">Excluir</button>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    {% endfor%}

                </div>
            </div>

            <div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <form method="post" action="{% url 'task_create' %}" class="modal-content">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="createTaskModalLabel">Nova Tarefa</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                            {{ create_form.as_p }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal fade" id="updateTaskModal" tabindex="-1" aria-labelledby="updateTaskModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <form method="post" id="updateTaskForm" class="modal-content" action="">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateTaskModalLabel">Editar Tarefa</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                            {{ update_form.as_p }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
            <script>
                let editMode = false;
                let editingCard = null;

                function openCreateModal() {
                    const form = document.querySelector('#createTaskModal form');
                    form.reset();


                    const modal = new bootstrap.Modal(document.getElementById('createTaskModal'));
                    modal.show();
                }

                function openEditModal(taskId) {

                    const form = document.getElementById('updateTaskForm');
                    const urlBase = "{% url 'task_update' 0 %}".replace("0", taskId);
                    form.action = urlBase;


                    const modal = new bootstrap.Modal(document.getElementById('updateTaskModal'));
                    modal.show();
                }

                

                function deleteTask(button, taskId) {
                    if (confirm('Deseja realmente excluir esta tarefa?')) {
                        const cardCol = button.closest('.col-md-4');
                        cardCol.remove();

                    }
                }
            </script>
</body>

</html>